/** {*/
/*border: 1px solid black;*/
/*}*/
body {

}

.topMenu {
    width: 100vw;
    height: 75px;
    background-color: #AA3939;
}

ul {
    list-style-type: none;
    margin-top: 0;
    color: white;
}

li {
    display: inline-block;
}

.header {
    text-align: center;
    height: 120px;
    background-image: url()
}

h1 {
    padding-top: 60px;

}

.main-area {
    margin: 20px;
    text-align: center;
}

input {
    width: 60%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.smallInput {
    width: 60%;
}

.container {
    margin: 0 auto;
}

button {
    width: 40%;
    height: 40px;
    background-color: #75B8C8;
    color: white;
    font-size: 16px;
}

footer {
    width: 100vw;
    height: 75px;
    background-color: gray;
}

